.container {
  display: grid;
  grid-template-columns: repeat(3, 406px);
  gap: 32px;
  .card {
    border: 1px solid #c5bf98;
    box-shadow: 0px 6px 12px 0px rgba(58, 44, 6, 0.4);
    /* Автолейаут */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;

    .card__image {
      background: url("../assets/images/image.svg") no-repeat center center;
      height: 260px;
      width: 100%;
    }
    .card__info {
      position: relative;
      height: 242px;
      padding: 14px 24px 24px 24px;
      color: white;
      .card__title {
        font-size: 20px;
        font-weight: 600;
        line-height: 140%;
      }
      .card__desc {
        margin-top: 8px;
        color: rgb(221, 221, 221);
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4; // Определяем количество строк перед достижением многоточия
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
      }
      .card__footer {
        position: absolute;
        width: 90%;
        bottom: 0;
        color: rgb(175, 175, 175);
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
